.hero {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr; /* exact 50 / 50 */
  align-items: center;
  padding: 0 80px;
  background: #0f172a;
}

/* Left side */
.hero-text {
  max-width: 520px;
}

/* Right side */
.cowork-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cowork-container img {
  max-width: 100%;
  height: auto;
}

.hero-text h3 {
  font-size: 7.5rem;
}

.hero-text h1::before {
  content: "______";
  color: #f97316;
  width: 32%;
  display: inline-table;
  height: 2px;
  margin-left: -82px;
}

.hero-text h1 {
  font-size: 3rem;
  color: #f8fafc;
  font-weight: lighter;
}

.hero-text .highlight {
  color: #f97316;
}

.hero-text h2 {
  font-size: 4.8rem;
  color: #cbd5e1;
  margin-bottom: 25px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.hero-img img {
  width: 300px;
  border-radius: 50%;
  border: 3px solid #f97316;
  box-shadow: 0 0 40px rgba(249, 115, 22, 0.3);
}

@media (max-width: 550px) {
  .hero {
    flex-direction: column-reverse;
    text-align: left;
  }

  .hero-img img {
    width: 200px;
    margin-bottom: 20px;
  }

  .hero-text h3 {
    font-size: 5.5rem;
  }
  .hero-text h1 {
    font-size: 2rem;
  }
  .hero-text h2 {
    font-size: 3.8rem;
  }
  .hero {
    padding: 0 20px;
  }
  .cowork-container img {
    max-width: 10rem;
    height: auto;
  }
  .cowork-container {
    position: absolute;
    bottom: 0;
    right: -24px;
  }
  .btn {
    padding: 7px 4px;
  }
}
.skills {
  background-color: #1e293b;
  padding: 20px 10%;
}

.skills ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.skills li {
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: bolder;
  color: gray;
  z-index: 3;
}
.skills li.active {
  color: whitesmoke;
}

.skills {
  position: relative;
  padding: 40px;
}

.scroll-line {
  height: 4px;
  background-color: #f97316;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  /* transform: translate(-50%,-50%); */
  transform-origin: left;
}
